html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(190deg, #1F3A61, #A1E8C8);
}

.main-section {
  min-height: 100vh;
  width: 100%;
}

.card {
  margin: 25rem auto;
  width: 60%;
}

.tasks {
  padding: 1.5rem;
}

.list-item {
  align-items: center;
  justify-content: space-between;
}

.task-description > h6 {
  display: inline-block;
  font-size: 1.5rem;
}

.is-done {
  margin-right: 0.5rem;
}
